
%mat-overlay-content {
  background-color: white;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: #444;
  pointer-events: auto;
  overflow: auto;

  box-shadow: 0 2px 7px 0 rgba(black, 0.15);
}
