<div class="tiles-list">
  <div
    class="tile"
    *for="let tile of $.tiles$"
  >
    <div
      class="title"
      *if="tile.title"
    >
      {{ tile.title }}
    </div>
    <div
      class="content"
    >
      <rx-switch
        expression="tile.resource.kind"
      >
        <img
          *switch-case="'image'"
          [src]="tile.resource.url"
        >
        <iframe
          *switch-case="'youtube'"
          [src]="tile.resource.url"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
          allowfullscreen
          referrerpolicy="no-referrer"
        ></iframe>
      </rx-switch>
    </div>
  </div>
</div>



