

@function map-merge-recursive($parent-map, $child-map) {
  $result: $parent-map;
  @each $key, $value in $child-map {
    @if (
      (not map-has-key($result, $key))
      or (type-of(map-get($result, $key)) != type-of($value))
      or (not (type-of(map-get($result, $key)) == map and type-of($value) == map))
    ) {
      $result: map-merge($result, ($key: $value));
    } @else {
      $result: map-merge($result, ($key: map-merge-recursive(map-get($result, $key), $value)));
    }
  }
  @return $result;
}

@function map-get-recursive($map, $path...) {
  $result: $map;
  @each $key in $path {
    $result: map-get($result, $key);
  }
  @return $result;
}

@function map-get-default($map, $key, $default) {
  @return default-value(map-get($map, $key), $default);
}

@function default-value($value, $default) {
  @if $value == null {
    @return $default;
  } @else {
    @return $value;
  }
}
