<div class="place">
  {{ $.place$ }}
</div>

<div class="daily-forecast-container">
  <div
    class="daily-forecast"
    *for="let dailyData of $.daily$"
    (click)="() => $.onClickDailyForecast(dailyData)"
    [class.selected]="$.isDailyForecastSelected(dailyData)"
  >
    <div class="day">
      {{ dailyData.day$ }}
    </div>

    <div class="date">
      {{ dailyData.date$ }}
    </div>

    <div
      class="illustration"
      [style.background-image]="dailyData.illustration$"
      [title]="dailyData.weatherTitle$"
    ></div>

    <div class="temperature">
      <div class="min">
        {{ dailyData.minTemperature$ }}
      </div>
      <div class="separator">/</div>
      <div class="max">
        {{ dailyData.maxTemperature$ }}
      </div>
    </div>

<!--    <div class="probability-of-precipitation">-->
<!--      {{ dailyData.probabilityOfPrecipitation$ }}-->
<!--    </div>-->

    <div class="precipitation">
      {{ dailyData.precipitation$ }}
    </div>

  </div>
</div>

<!--<div class="hourly-forecast-container">-->
<!--  <div-->
<!--    class="hourly-forecast"-->
<!--    *for="let hourlyData of $.hourly$"-->
<!--  >-->
<!--    <div class="hour">-->
<!--      {{ hourlyData.hour$ }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



