<div class="buttons-container">
  <button
    class="button-style"
    (click)="$.onClickStartDownload"
    [disabled]="$.eq$$($.status$, $.single('loading'))"
  >
    Start download
  </button>
  <button
    class="button-style"
    (click)="$.onClickCancelDownload"
    [disabled]="$.neq$$($.status$, $.single('loading'))"
  >
    Cancel
  </button>
</div>

<div
  class="status"
>
  <rx-switch expression="$.status$">
    <div
      *switch-case="'loading'"
      class="loading"
    >
      <mat-progress-ring
        [progress]="$.progress$"
        radius="60"
        stroke="20"
      ></mat-progress-ring>
    </div>
    <div
      *switch-case="'complete'"
      class="complete"
    >
      Success
    </div>
    <div
      *switch-case="'error'"
      class="error"
    >
      Error: {{ $.errorMessage$ }}
    </div>
  </rx-switch>
</div>
