@import '../../../../style/mixins';

:host {
  display: block;
  text-align: center;
  padding: 20px;

  & > .status {
    padding-top: 30px;

    & > .complete {
      color: green;
    }

    & > .error {
      color: red;
    }
  }
}

