$mat-gray-block-skeleton-background-color: var(--mat-gray-block-skeleton-background-color, #f2f2f2);
$mat-gray-block-skeleton-shimmer-animation-duration: var(--mat-gray-block-skeleton-shimmer-animation-duration, 2s);
$mat-gray-block-skeleton-shimmer-color: #fff;
$mat-gray-block-skeleton-shimmer-width: 20%;
