$mat-color-gray-01: var(--mat-color-gray-01, #333);
$mat-color-gray-02: var(--mat-color-gray-02, #fafafa);
$mat-color-gray-03: var(--mat-color-gray-03, #eaeaea);
$mat-color-gray-04: var(--mat-color-gray-04, #666);

$mat-text-color: var(--mat-text-color, $mat-color-gray-01);
