$transition-duration: 200ms;


:host {
  // backdrop
  display: block;
  position: fixed;
  inset: 0;
  opacity: 0;
  transition: opacity $transition-duration;

  & > .content {
    position: absolute;

    left: -10000px;
    top: -10000px;
    width: 0;
    height: 0;

    display: block;
    background-color: white;
    padding: 7px 10px;
    border-radius: 5px;

    box-shadow: 0 2px 7px 0 rgba(black, 0.15);
  }

  &.visible {
    opacity: 1;
  }
}

