
<!--$on-focused="[$.$onFocused]"-->
<!--[class...]="$.fieldContainerClasses$"-->
<!--(keydown)="$.$onKeyDown"-->

<div
  class="select-value"
  tabindex="0"
  (click)="$.$onClickSelectValue"
  (keydown)="$.$onKeyDownSelectValue"
>
  {{ $.selectValue$ }}
</div>

<div
  class="clear-icon icon-mat-times"
  (click)="$.$onClickClearIcon"
  [title]="$.clearIconTitle$"
></div>

<!--<div-->
<!--  class="field-container"-->
<!--  tabindex="0"-->
<!--  $on-focused="[$.$onFocused]"-->
<!--&gt;-->
<!--  <div class="select-value">-->
<!--    {{ $.selectValue$ }}-->
<!--  </div>-->

<!--  <div class="select-placeholder">-->
<!--    {{ $.placeholder$ }}-->
<!--  </div>-->

<!--&lt;!&ndash;  <div&ndash;&gt;-->
<!--&lt;!&ndash;    class="filter-input"&ndash;&gt;-->
<!--&lt;!&ndash;  >&ndash;&gt;-->
<!--&lt;!&ndash;    <input&ndash;&gt;-->
<!--&lt;!&ndash;      $input-value="[$.$filterInputValue$]"&ndash;&gt;-->
<!--&lt;!&ndash;    >&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--&lt;!&ndash;  <div&ndash;&gt;-->
<!--&lt;!&ndash;    class="clear-icon"&ndash;&gt;-->
<!--&lt;!&ndash;    (click)="$.$onClickClearIcon"&ndash;&gt;-->
<!--&lt;!&ndash;  ></div>&ndash;&gt;-->
<!--</div>-->




<!--<div-->
<!--  class="field-container"-->
<!--  tabindex="0"-->
<!--  $on-focused="[$.$focused]"-->
<!--  [class...]="$.fieldContainerClasses$"-->
<!--  (keydown)="$.$onKeyDown"-->
<!--&gt;-->
<!--  <div class="select-value">-->
<!--    {{ $.selectValue$ }}-->
<!--  </div>-->

<!--  <div class="select-placeholder">-->
<!--    {{ $.placeholder$ }}-->
<!--  </div>-->


<!--  <div-->
<!--    class="filter-input"-->
<!--  >-->
<!--    <input-->
<!--      $input-value="[$.$filterInputValue$]"-->
<!--    >-->
<!--  </div>-->

<!--  <div-->
<!--    class="clear-icon"-->
<!--    (click)="$.$onClickClearIcon"-->
<!--  ></div>-->
<!--&lt;!&ndash;  <input&ndash;&gt;-->
<!--&lt;!&ndash;    type="text"&ndash;&gt;-->
<!--&lt;!&ndash;    (input)="() => $.onInputChange()"&ndash;&gt;-->
<!--&lt;!&ndash;    $input-value="[$.$inputValue$]"&ndash;&gt;-->
<!--&lt;!&ndash;  >&ndash;&gt;-->
<!--</div>-->


