<div class="content">
  <div
    class="focus-loop-helper"
    tabindex="0"
    (focus)="$.$onFocusFirst"
  ></div>

  <div
    class="saturation-and-value-select"
    (pointerdown)="$.$onPointerDownSaturationAndValueSelect"
    [style.background-color]="$.saturationAndValueSelectElementBackgroundColor$"
  >
    <div
      class="cursor"
      tabindex="0"
      [style.left]="$.saturationAndValueSelectCursorElementLeft$"
      [style.top]="$.saturationAndValueSelectCursorElementTop$"
      (keydown)="$.$onKeyDownSaturationAndValueSelectCursor"
    ></div>
  </div>

  <div
    class="hue-select"
    (pointerdown)="$.$onPointerDownHueSelect"
  >
    <div
      class="cursor"
      tabindex="0"
      [style.top]="$.hueSelectCursorElementTop$"
      (keydown)="$.$onKeyDownHueSelectCursor"
    ></div>
  </div>

  <div
    class="alpha-select"
    (pointerdown)="$.$onPointerDownAlphaSelect"
  >
    <div
      class="alpha-select-gradient"
      [style.background-image]="$.alphaSelectElementBackgroundGradient$"
    ></div>
    <div
      class="cursor"
      tabindex="0"
      [style.top]="$.alphaSelectCursorElementTop$"
      (keydown)="$.$onKeyDownAlphaSelectCursor"
    ></div>
  </div>

  <div
    class="tools-container"
  >
    <div
      class="color-picker-icon icon-mat-eyedropper"
      tabindex="0"
      (click)="$.$onClickColorPicker"
      (keydown)="$.$onKeyDownColorPicker"
    ></div>
  </div>

  <div
    class="focus-loop-helper"
    tabindex="0"
    (focus)="$.$onFocusLast"
  ></div>
</div>

