@import '../../../../../../style/mixins';



:host {
  /* VARIABLES */

  $audio-player-background-color: #333;  // or #222
  $audio-player-color: #fff;
  $audio-player-play-pause-button-size: 40px;

  $audio-player-progress-bar-height: 4px;


  $audio-player-progress-bar-background-color: var(--audio-player-progress-bar-background-color, $audio-player-background-color);
  $audio-player-progress-bar-loaded-buffer-chunk-background-color: var(--audio-player-progress-bar-loaded-buffer-chunk-background-color, #5f5f5f);
  $audio-player-progress-bar-progress-background-color: var(--audio-player-progress-bar-progress-background-color, #ff0000);
  $audio-player-progress-bar-cursor-time-tooltip-background-color: var(--audio-player-progress-bar-cursor-time-tooltip-background-color, $audio-player-background-color);
  $audio-player-progress-bar-cursor-time-tooltip-color: var(--audio-player-progress-bar-cursor-time-tooltip-color, $audio-player-color);
  $audio-player-controls-background-color: var(--audio-player-controls-background-color, $audio-player-background-color);
  $audio-player-controls-text-color: var(--audio-player-controls-text-color, $audio-player-color);

  /* STYLE */

  display: block;
  padding-top: 50px;

  & > .player-bar {
    //position: relative;
    //position: absolute;
    //left: 0;
    //right: 0;
    //bottom: 0;

    & > .progress-bar {
      position: relative;
      z-index: 1;
      height: $audio-player-progress-bar-height;
      cursor: pointer;
      background-color: $audio-player-progress-bar-background-color;

      &::before {
        display: block;
        content: '';
        position: absolute;
        top: -6px;
        bottom: -6px;
        left: 0;
        width: 100%;
      }

      & > .loaded-buffer-chunks {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & > * { // .buffer-chunk
          position: absolute;
          top: 0;
          height: 100%;
          background-color: $audio-player-progress-bar-loaded-buffer-chunk-background-color;
        }
      }

      & > .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $audio-player-progress-bar-progress-background-color;

        &::before {
          $extra-size: 4px;
          $size: ($extra-size * 2) + $audio-player-progress-bar-height;

          display: block;
          content: '';
          position: absolute;
          right: (-$size * 0.5);
          top: -$extra-size;
          width: $size;
          height: $size;

          background-color: $audio-player-progress-bar-progress-background-color;
          border-radius: 50%;
        }
      }

      & > .cursor-time-tooltip {
        position: absolute;
        top: -28px;
        left: 0;
        background-color: $audio-player-progress-bar-cursor-time-tooltip-background-color;
        color: $audio-player-progress-bar-cursor-time-tooltip-color;
        padding: 3px 5px;
        font-size: 13px;
        border-radius: 3px;
      }

      &:not(:hover) {
        & > .loaded-buffer-chunks,
        & > .progress {
          opacity: 0.8;
        }

        & > .progress {
          &::before {
            display: none;
          }
        }

        & > .cursor-time-tooltip {
          display: none;
        }
      }

      &:hover {
        & > .loaded-buffer-chunks,
        & > .progress {
          opacity: 1;
        }
      }
    }

    & > .controls {

      background-color: $audio-player-controls-background-color;
      color: $audio-player-controls-text-color;

      & > .track-controls {
        display: table;
        width: 100%;

        & > *  {
          display: table-cell;
          vertical-align: middle;
          padding: 10px;
          text-align: center;
        }

        //& > .previous-track-button,
        //& > .pause-button,
        //& > .play-button,
        //& > .next-track-button {
        //  cursor: pointer;
        //}

        & > .previous-track-button,
        & > .next-track-button {
          & > * { // .icon
            @include square-icon-mixin(24px);
          }

          .disabled {
            cursor: default;

            & > * { // .icon
              opacity: 0.5;
            }
          }

          &:not(.disabled) {
            cursor: pointer;
          }
        }

        & > .pause-button,
        & > .play-button {
          cursor: pointer;

          & > * { // .icon
            @include square-icon-mixin($audio-player-play-pause-button-size);
          }
        }

        & > .loader {
          & > .dual-ring-loader {
            @include dual-ring-loader-mixin(( size: $audio-player-play-pause-button-size * 0.8 ));
            opacity: 0.8;
          }
        }


        & > .previous-track-button {

        }
      }


    }

  }
}

