@mixin load-fontastic-icons($font-root, $font-name) {
  @font-face {
    font-family: $font-name;
    src: url(quote($font-root + $font-name + '.woff')) format('woff'),
    url(quote($font-root + $font-name + '.ttf')) format('truetype'),
    url(quote($font-root + $font-name + '.svg#' + $font-name)) format('svg');
    font-weight: 200;
    font-style: normal;
  }
}
