<div class="content">
  <div
    class="focus-loop-helper"
    tabindex="0"
    (focus)="$.$focusFirst"
  ></div>

  <div
    class="saturation-and-value-select"
    (pointerdown)="$.$pointerDownSaturationAndValueSelect"
    [style.background-color]="$.saturationAndValueSelectElementBackgroundColor$"
  >
    <div
      class="cursor"
      tabindex="0"
      [style.left]="$.saturationAndValueSelectCursorElementLeft$"
      [style.top]="$.saturationAndValueSelectCursorElementTop$"
      (keydown)="$.$keyDownSaturationAndValueSelectCursor"
    ></div>
  </div>

  <div
    class="hue-select"
    (pointerdown)="$.$pointerDownHueSelect"
  >
    <div
      class="cursor"
      tabindex="0"
      [style.top]="$.hueSelectCursorElementTop$"
      (keydown)="$.$keyDownHueSelectCursor"
    ></div>
  </div>

  <div
    class="alpha-select"
    (pointerdown)="$.$pointerDownAlphaSelect"
  >
    <div
      class="alpha-select-gradient"
      [style.background-image]="$.alphaSelectElementBackgroundGradient$"
    ></div>
    <div
      class="cursor"
      tabindex="0"
      [style.top]="$.alphaSelectCursorElementTop$"
      (keydown)="$.$keyDownAlphaSelectCursor"
    ></div>
  </div>

  <div
    class="focus-loop-helper"
    tabindex="0"
    (focus)="$.$focusLast"
  ></div>
</div>

