
:host {
  display: block;
  position: fixed;
  inset: 0;
  pointer-events: none;

  & > * {
    display: block;
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
}

:host(:empty) {
  display: none;
}


