$mat-progress-ring-color: var(--mat-progress-ring-color, #87c5fa);
$mat-progress-ring-transition-duration: var(--mat-progress-ring-transition-duration, 250ms);

:host {
  display: inline-block;

  & > svg > circle {
    stroke: $mat-progress-ring-color;
    transition: stroke-dashoffset $mat-progress-ring-color;
  }
}
